<!-- Filter input -->
<mat-form-field class="filter-box">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <!-- No filter results message -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell no-results" [attr.colspan]="displayedColumns.length">
      No holdings match the filter.
    </td>
  </tr>

  <!-- accountName Column -->
  <ng-container matColumnDef="AccountName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by account name">
        Account Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.AccountName}} </td>
  </ng-container>

  <!-- securityName Column -->
  <ng-container matColumnDef="SecurityName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by security name">
        Security Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.SecurityName}} </td>
  </ng-container>

  <!-- securityCUSIP Column -->
  <ng-container matColumnDef="SecurityCUSIP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by security CUSIP">
        Security CUSIP
    </th>
    <td mat-cell *matCellDef="let element"> {{element.SecurityCUSIP}} </td>
  </ng-container>

  <!-- quantity Column -->
  <ng-container matColumnDef="Quantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by quantity" class="number">
        Quantity
    </th>
    <td mat-cell *matCellDef="let element" class="number"> {{element.Quantity | number}} </td>
  </ng-container>

  <!-- faceValue Column -->
  <ng-container matColumnDef="FaceValue">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by face value" class="number">
        Face Value
    </th>
    <td mat-cell *matCellDef="let element" class="number"> {{element.FaceValue | currency}} </td>
  </ng-container>

  <!-- marketValue Column -->
  <ng-container matColumnDef="MarketValue">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by market value" class="number">
        Market Value
    </th>
    <td mat-cell *matCellDef="let element" class="number"> {{element.MarketValue | currency}} </td>
  </ng-container>

  <!-- unrealizedGainLoss Column -->
  <ng-container matColumnDef="UnrealizedGainLoss">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by unrealized gain / loss" class="number">
        Unrealized Gain/Loss
    </th>
    <td mat-cell *matCellDef="let element" class="number"> {{element.UnrealizedGainLoss | currency}} </td>
  </ng-container>

  <!-- effectiveDate Column -->
  <ng-container matColumnDef="EffectiveDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by effective date">
        Effective Date
    </th>
    <td mat-cell *matCellDef="let element"> {{element.EffectiveDate}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of holdings">
</mat-paginator>
